* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  background-color: #191b1f;
}
:root {
  --color: rgba(120, 117, 117, 0);
  --scroll-color: #2154ff;
  --scroll-color-hover: #2154ff;
  /* --scroll-width: 5px; */
}
#box {
  width: 100vw;
  height: 100vh;
  display: flex;
}
#side {
  width: 20vw;
  height: 100vh;
  border-right: 1px solid rgb(48, 48, 48);
  padding-left: 15px;
}
h2 {
  color: white;
}
h3 {
  color: white;
}
h4 {
  color: white;
}
.side-icons {
  color: #2154ff;
}
.premium {
  color: gold;
}
#logotxt {
  font-size: 1.1rem;
  padding: 10px 0 5px 15px;
  font-family: "Poppins", sans-serif;
  /* font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif; */
  font-weight: 500;
  margin: 25px 0 8px 10px;
  cursor: pointer;
}
#head-icon {
  color: #2154ff;
}
.side-divs {
  color: white;
  padding: 10px;
}
.side-divs h4 {
  font-size: 0.9rem;
  font-family: "Poppins", sans-serif;
  /* font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif; */
  /* font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; */
  padding: 5px 10px 8px 20px;
  font-weight: 400;
}
.side-divs ul {
  list-style: none;
}
.side-divs ul li {
  padding: 10px 10px 7px 20px;
  font-size: 0.8rem;
  position: relative;
  cursor: pointer;
}
.sideicon-text {
  position: absolute;
  left: 2.9rem;
  bottom: 7px;
  /* letter-spacing: 1px; */
  font-family: "Poppins", sans-serif;
  /* font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif; */
  opacity: 0.8;
}
.container {
  width: 90%;
  height: 10vh;
  margin-top: 10px;
  margin-left: 20px;
}
.smallbox {
  display: inline-block;
  width: 45%;
  height: 46%;
  padding: 6px;
  margin-bottom: 5px;
  text-align: center;
  border-radius: 5px;
  padding-top: 5px;
  font-family: "Poppins", sans-serif;
  /* font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif; */
}
#box1 {
  background-color: rgb(214, 48, 106);
}
#box2 {
  background-color: rgb(62, 164, 188);
}
#box3 {
  background-color: rgb(235, 147, 43);
}
#box4 {
  background-color: rgb(73, 119, 249);
}
#general {
  width: 100%;
  height: auto;
  color: white;
  margin-top: 1rem;
}
#general h4 {
  font-size: 0.9rem;
  font-family: "Poppins", sans-serif;
  /* font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif; */
  /* font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; */
  padding: 5px 10px 5px 30px;
  font-weight: 400;
}
#general ul {
  display: flex;
  list-style: none;
  justify-content: space-around;
  margin: 5px;
  flex-direction: column;
  margin-left: 30px;
}
#general ul li {
  font-family: "Poppins", sans-serif;
  /* font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif; */
  font-size: 0.8rem;
  opacity: 0.8;
  padding: 6px 0;
}

/* ----------------------------------------------------------------- */
#right {
  width: 80vw;
  height: 100vh;
}
nav {
  width: 100%;
  height: 95px;
}
#nav-headings {
  padding: 30px;
  height: 100%;
  position: relative;
}
.nav-heads {
  text-decoration: none;
  color: white;
  margin: 40px;
  margin-top: 50px;
  font-size: 20px;
  font-family: "Poppins", sans-serif;
  cursor: pointer;
  /* font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif; */
}
input {
  color: white;
  background-color: none;
  border-color: white;
  width: 25vw;
  height: 40px;
  margin: 0 0 10px 30px;
  outline: none;
  padding-left: 40px;
  border-radius: 5px;
  border-width: 0.1px;
  border: 1px solid rgba(256, 256, 256, 0.5);
  position: absolute;
  top: -24px;
  /* margin: auto; */
}
#search-icon {
  color: white;
  font-size: 18px;
  position: absolute;
  left: 42px;
  bottom: -5px;
  opacity: 0.5;
}
#search {
  display: inline-block;
  margin-left: 30px;
  position: relative;
  margin: auto 30px;
}
input::placeholder {
  opacity: 0.5;
  color: white;
}

#about-btn{
  position: absolute;
  right: 60px;
  text-decoration: none;
  color: white;
  font-size: 20px;
  font-family: "Poppins", sans-serif;
  cursor: pointer;
}

/* #dark-mode{
  color: white;
  background: none;
  margin-right: auto;
  position: absolute;
  right: 60px;
  top: 34px;
  font-size: 25px;
  cursor: pointer;
}
.theme-icon{
  background: none;
  color: white;
}
.dark{
  background-color: white;
  color: #191b1f;
}
#moon{
  background-color: white;
  color: #191b1f;
} */

/* ----------------------------------------------------------------- */
#content-main {
  width: 100%;
  height: 87vh;
}
#movies {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  overflow-y: scroll;
}
#animes {
  width: 100%;
  height: 100%;
  display: none;
  justify-content: space-evenly;
  flex-wrap: wrap;
  overflow-y: scroll;
}
.card {
  background-color: black;
  height: 350px;
  width: 250px;
  margin: 25px;
  border-radius: 15px;
  position: relative;
  cursor: pointer;
  border: 2px solid white;
  align-items: center;
}
.card:hover {
  height: 360px;
  width: auto;
  margin: 20px 21.4285714px;
  aspect-ratio: 5/7;
  box-shadow: 2px 2px 10px 0 rgba(255, 255, 255, 0.8),
    2px 2px 20px 0 rgba(255, 255, 255, 0.5);
}
.img {
  height: 100%;
  width: 100%;
  filter: blur(0px);
  border-radius: 15px;
}
.content {
  height: auto;
  width: 100%;
  background-color: var(--color);
  position: absolute;
  bottom: 26%;
  /* top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); */
  display: none;
}
.head {
  background-color: var(--color);
  color: white;
  text-align: center;
  font-family: "Poppins", sans-serif;
  margin: 0 10px;
  /* font-family: 'Azeret Mono', monospace; */
}
.icon {
  background-color: var(--color);
  color: white;
  display: block;
  text-align: center;
  font-size: 40px;
  margin: 15px 0 25px;
  /* position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); */
  /* border: 1px solid blue; */
}
.play {
  background: none;
  /* border: 1px solid red; */
}
.description{
  background-color: var(--color);
}
.des-headers {
  display: flex;
  color: white;
  list-style: none;
  background-color: var(--color);
  justify-content: space-evenly;
  margin: 0 10px 10px 10px;
}
.des-headers li {
  background-color: var(--color);
  color: white;
  font-family: 'Azeret Mono', monospace;
  margin: 0 15px;
  font-size: 13px;
}
.des{
  color: white;
  display: flex;
  list-style: none;
  margin: 0 10px;
  /* text-align: center; */
  background-color: var(--color);
}
.des1{
  color: white;
  font-family: 'Azeret Mono', monospace;
  font-size: 13px;
  background-color: var(--color);
  font-weight: lighter;
  margin-left: 2.5px;

}
.des2{
  color: white;
  font-family: 'Azeret Mono', monospace;
  font-size: 13px;
  background-color: var(--color);
  font-weight: lighter;
  margin-left: 51px;
}
.des3{
  color: white;
  font-family: 'Azeret Mono', monospace;
  font-size: 13px;
  background-color: var(--color);
  font-weight: lighter;
  margin-left: 65px;
}



/* ----------------------------------------------------------------- */



#box-movie {
  width: 100vw;
  height: 100vh;
  display: none;
}
/* h2 {
  color: white;
}
h3 {
  color: white;
}
h4 {
  color: white;
} */
#nav-movie-section {
  width: 100%;
  height: 95px;
  /* border: 1px solid red; */
  position: relative;
}
#logotxt-movie {
  font-size: 1.1rem;
  /* padding: 10px 0 5px 15px; */
  font-family: "Poppins", sans-serif;
  /* font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif; */
  font-weight: 500;
  margin: 30px 0 8px 10px;
  display: inline;
  position: absolute;
  top: 5px;
  left: 30px;
  cursor: pointer;
}
#head-icon-movie {
  color: #2154ff;
}
#nav-headings-movie {
  padding-top: 30px;
  padding-left: 56px;
  height: 100%;
  width: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.nav-heads-movie {
  text-decoration: none;
  color: white;
  margin: 30px;
  /* margin-top: 50px; */
  font-size: 20px;
  font-family: "Poppins", sans-serif;
  cursor: pointer;
  /* font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif; */
}
/* #dark-mode-movie {
  color: white;
  background: none;
  margin-right: auto;
  position: absolute;
  right: 60px;
  top: 34px;
  font-size: 25px;
  cursor: pointer;
}
.theme-icon {
  background: none;
  color: white;
}
.dark-movie {
  background-color: white;
  color: #191b1f;
}
#moon-movie {
  background-color: white;
  color: #191b1f;
} */

/* ----------------------------------------------------------------- */
#main-area {
  width: 100%;
  height: 87vh;
  /* padding: 1% 0; */
  position: relative;
  display: flex;
  justify-content: space-around;
  /* border: 1px solid red; */
  overflow-y: scroll;
}
#movie-des {
  width: 25%;
  height: 100%;
  overflow-y: scroll;
  /* border: 1px solid red; */
  padding: 10px 22px 10px;
}
#movie-des img {
  height: 210px;
  width: 150px;
  /* margin-left: ; */
  box-shadow: 1px 1px 10px 0 rgba(255, 255, 255, 0.7);
  border-radius: 5px;
}
#movie-des h2 {
  color: white;
  font-family: "Poppins", sans-serif;
  letter-spacing: 1px;
}
#movie-des p {
  color: white;
  font-size: 13px;
  font-family: "Poppins", sans-serif;
}
#movie-des button {
  color: black;
  background-color: rgba(255, 255, 255, 0.7);
  font-family: "Poppins", sans-serif;
  margin-top: 10px;
  padding: 0 5px;
  border-radius: 5px;
  cursor: pointer;
}
#read-more {
  display: inline-block;
  background: none;
  font-family: "Poppins", sans-serif;
  font-size: 12px;
  height: 100%;
  /* margin-right: 3px; */
}
#movie-des table tr td {
  color: white;
  padding: 3px 5px;
  font-family: "Poppins", sans-serif;
  font-size: 13px;
}
.table-right {
  opacity: 0.7;
}
#movie-des table tr {
  vertical-align: top;
}



/* ----------------------------------------------------------------- */

#full-about{
  display: none;
}

#about-us{
  position: relative;
  color: white;
}
#back-btn{
  font-family: "Poppins", sans-serif;
  color: white;
  font-size: 20px;
  font-weight: lighter;
  cursor: pointer;
  position: absolute;
  left: 60px;
}
#about-us > h1{
  font-family: "Poppins", sans-serif;
  color: white;
  font-size: 50px;
  text-align: center;
  margin: 2rem 0;
}
#about-us ul{
  font-family: "Poppins", sans-serif;
  color: white;
  display: flex;
  margin: 1.5rem 0;
  justify-content: space-evenly;
  list-style: none;
}
#about-us ul li{
  font-family: "Poppins", sans-serif;
  color: white;
  text-align: center;
}
.profile img{
  border-radius: 20%;
  box-shadow: 2px 2px 15px 0 white;
  border: 1px solid white;
}
.profile h1{
  font-size: 25px;
  margin-top: 20px;
}
.profile h3{
  font-size: 18px;
  margin: 5px 0 8px 0;
}
.icons{
  font-size: 30px;
}
.icons i{
  margin: 15px 20px;
  color: #2154ff;
}
.icons i:hover{
  margin: 15px 20px;
  color: white;
}
#about-para{
  width: 50%;
  height: auto;
  text-align: center;
  margin: auto;
  font-family: "Poppins", sans-serif;
  /* font-family: 'Azeret Mono', monospace; */
  letter-spacing: 0.5px;
}
#about-para p{
  background-color: #f931a630;
  border-radius: 15px;
  padding: 15px;
  border: 2px solid #F931A7;
}
#about-para span{
  color: #F931A7;
  background: none;
}

footer{
  color: white;
  height: 10vh;
  background-color: #2154ff80;
  margin-top: 30px;
  display: flex;
  text-align: center;
  font-family: "Poppins", sans-serif;
}
footer div{
  margin: auto;
  background: none;
  font-size: 12px;
  letter-spacing: 0.8px;
}
footer div i{
  background: none;
}


::-webkit-scrollbar {
  width: 5px;
}
::-webkit-scrollbar-track {
  background: rgba(255, 255, 255, 0);
  border-radius: 20px;
}
::-webkit-scrollbar-thumb {
  background: var(--scroll-color);
  border-radius: 20px;
}
::-webkit-scrollbar-thumb:hover {
  background: var(--scroll-color-hover);
  width: 10px;
}
